*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(150, 131, 131);
    display: flex;
    
}
#part1{
    height: 100%;
    width: 25%;
    /* background-color: blueviolet; */
}
#part2{
    height: 100%;
    width: 60%;
    background-color: rgb(226, 122, 43);
    background-image: url(vivek.jpg.jpg);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color:rgba(150, 131, 131, 0.562);
}
#part3{
    height: 100%;
    width: 15%;
    /* background-color: rgb(43, 189, 226); */
}
#text-div{
    /* height: 300px; */
    width: 500px;
    position: absolute;
    left: 6%;
    top: 40%;
    /* background-color: blue; */
}
#text-div>h1{
    font-size: 70px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    line-height: 80px;
    color: rgb(27, 26, 26);
    letter-spacing: 8px;
}
#small-img{
    background-image: url(rohan.jpg.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 300px;
    background-color: pink;
    position: absolute;
    top: 40%;
    right: 8%;
    transform: translate(0 -50%);
}
#overlay-in{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.093);
}
#vertical-text{
    position: absolute;
    /* width: 100%; */
    /* background-color: aquamarine; */
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    right: -43%;

}
#vertical-text h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:60px;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.631);
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 10px;
    letter-spacing: 13px;
    
}
#nav{
    position: absolute;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    top: 5%;
    left: 6%;
    width: 450px;

}
#nav img{
    height: 60px;
}
#nav h5{
    font-family: gillroy;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.631) ;
    letter-spacing: 15px;
}